* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#game-start,
#game,
#game-end {
  text-align: center;
}

#game-start {
  background: url(images/brickbrett.jpg) no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-start h2 {
  color: white;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Change background color and adjust opacity */
  padding: 20px 40px; /* Add padding to increase visibility */
  border-radius: 5px; /* Add border radius for better appearance */
  margin-bottom: 20px; /* Add margin to increase space between the text and button */
  font-size: 36px; /* Increase font size */
}

#game {
  background-color: #51258a;
  width: 100vw;
  height: 100vh;
}

#game-end {
  background: url(images/gameover.jpeg) no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-end p {
  color: white;

  font-size: 36px;
  margin-bottom: 20px; /* Add margin to increase space between the text and button */
}

#restartButton {
  padding: 15px 30px;
  font-size: 20px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#restartButton:hover {
  background-color: #45a049;
}

button {
  padding: 15px 30px;
  font-size: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.grid {
  position: relative;
  width: 560px;
  height: 300px;
  border: solid 1px black;
  margin-top: 50px;
}

.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: #4caf50;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #e5740b;
  border-radius: 50%;
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: #2196f3;
  background: linear-gradient(to bottom, #bf4646, #5f0202);
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: #333;
}
